* {
  font-size: 1.1rem;
}
.subheading {
  font-weight: 600;
  font-size: 1.25rem !important;
}

.date {
  min-width: 18rem;
}
.nav-link {
  color: rgba(255,255,255,0.9);
}
.logo {
  width: 30px;
}
#about {
  min-height: 100vh;
}
h1 {
  font-size: 96px;
  font-weight: 500 ;
} 

h2 {
  font-size: 3rem !important;
  border-left: 6px solid;
  border-image: linear-gradient(to bottom,  red, yellow) 1 100%;
  padding-left: 6px;
}
#contact h2 {
  border-left: none !important;
  padding-left: 0;
}


h3 {
  font-size: 2rem !important;
}
@media only screen and (max-width: 776px) {
  h1 {
    font-size: 47px;
  } 
  #particles-js {
    height: 0px !important;
  }
}
#about img {
  max-width: 450px;
  width: 80%;
  padding-top: 20vh;
}

.alert {
  display: none;
}
.jumbotron {
  padding-bottom: 60px !important;
}



